@media(min-width: 900px){
    .container-1 {
        display: flex;
        width: 100%;
    }
    .box-2{
        display: flex;
        flex-direction: column;
    }
    .box-1{
        width: 100%;
    }
    .box-2{
        order: 2;
        width: auto;
        margin: 10px;
        padding-top: 20px;
    }
    .box-2 h1{
        margin: 0;
        padding: 5px 0px;
        border-top: 1px inset #9c9c9d;
        border-bottom: 1px inset #9c9c9d;
        text-align: center;
        font-size: 24px;
        color: #354248;
    }
    .dark{
        margin-top: 15px;
        width: 100%;
    }
    ul#services{
        display: flex;
        flex-direction: column;
    }
    ul#services li h3{
        margin: 5px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    ul#services li a{
        text-decoration: none;
        color: #9c9c9d;
    }
    .container-2 .article-news-section a:hover, ul#services a:hover{
        font-weight: bold;
        color: #354248;
    }
    ul#services li{
        margin-bottom: 15px;
        border: #cccccc solid 1px;
        background: #e6e6e6;
        list-style: none;
    }
    ul#services li p{
        margin: 5px;
        font-size: 12px;
        text-align: justify;
    }
    ul#services li h3 p{
        display: inline;
        font-style: italic;
        font-size: 11px;
    }
    .container-2 .container-2-box{
        display: block;
        width: 100%;
        margin-left: 5px;
        padding: 5px;
    }
    .container-2-box .article-news-title{
        width: auto;
        line-height: 1;
    }
    .box-4{
        padding: 15px;
    }
}