/*General*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
}
div{
    display: block;
}
*{
    box-sizing: border-box;
}
/*Header*/
.highlight{
    font-size: 54px;
    color: #f4f4f4;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.5px;  
}
#branding{
    display: flex;  
    justify-content: center;
    padding: 10px;
    background: url(../img/background-news.jpg) no-repeat;
    background-size: cover;
}
header{
    min-height: 70%;
    border-bottom: #e8491d 2px solid;
}
.container{
    width: 100%;
    margin: auto;
}
header a{
    color: #f18c8c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
header li{
    display: none;
    padding: 0 20px 0 20px;
}
header a:hover{
    color: #e8491d;
    font-weight: bold;
}
header nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 15px;
}
.fas.fa-bars{
    margin-bottom: 10px;
    font-size: 40px;
    color: #f18c8c;
}
/*First news*/
.container-1, .container-last-news{
    display: flex;
    margin: 5px;
}
.container-2, .box-4{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
img{
    width: 100%;
}
.box-1{
    order:1;
    margin: 5px;
    width: 100%;
}
.box-4{
    display: none;
}
.article-news-section, .article-news-title{
   margin: auto;
   padding-bottom: 5px;
}
.article-news-opinion{
    margin: 10px;

}
.article-news-section a{
    color: #9c9c9d;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    letter-spacing: .5px;
}
.article-news-title a{
    color: #e8491d;
    font-size: 22.5px;
}
.box-1 p{
    margin: auto;
    text-align: justify;
}
.box-2{
    display: flex;
    justify-content: center;
    background-color: beige;
    width: 100%;
}
.box-2 h1{
    margin: auto;
    font-size: 25px;
}
article, section{
    display: block;
}
.latest{
    margin: 34px auto 0;
    background-color: #f0f1f2;
    width: 100%;
    max-width: 1000px;
}
.latest .swipe{
    display: flex;
    margin: 0;
    padding: 0;
}
.latest .swipe li .content{
    padding: 5px 10px;
    width: 100%;
    display: flex;
}
.latest .swipe li article{
    padding: 0;
    min-width: 180px;
}
.latest .swipe li{
    counter-increment: numbers;
    position: relative;
    text-align: center;
    flex: 1;
    padding: 28px 5px 25px;
    margin: 0;
}
.box-3{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: black 1px solid;
}
.container-2, .box-4{
    justify-content: space-between;
}
.container-2-box{
    width: 100%;
}
.container-2 .container-2-box{
    display: block;
    border: 1px solid #e8491d;
}
.img-container img{
    display: none;
    width: 100%;
    height: 100%;
}
.container-2-box .article-news-title a{
    color: #e8491d;
    font-size: 15px;
    text-align: justify;
}
.container-2-box .article-news-title{
    width: auto;
}
.container-2-box p{
    display: none;
    margin: auto;
    text-align: justify;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #f18c8c;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}
.container-suscribe{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#newsletter{
    padding: 10px;
    color: #ffffff;
    background-color: #354248;
}
#newsletter h1{
    margin: 5px;
    text-align: center;
    width: 100%;
}
#newsletter form{
    text-align: center;
    margin: auto;
    width: 100%;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}



@media(min-width: 768px){
    header .highlight{
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        color: black;
    }
    header li{
        display: inline-block;
        padding: 10px;
    }
    header nav .fas.fa-bars{
        display: none;
    }
    header nav{
        display: flex;
        justify-content: center;
        margin: 0;    
    }
    .container-2-box p{
        display: block;
        margin: auto;
        text-align: justify;
    }
    .img-container img{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .container-2 .container-2-box .img-container{
        display: flex;
        border: 1px solid #e8491d;
    }
    .container-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px;
        margin-top: 15px;
        padding-top: 15px;
    }
    .container-2-box{
        width: 20%;
    }
    .box-4{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .box-4{
        order: 2;
        width: 20%;
        margin: 5px;
        border:  solid #773737;
    }
    ul#services li{
        list-style: none;
        border: #cccccc solid 1px;
        margin-bottom: 5px;
        background: #e6e6e6;
    }
    aside.sidebar{
        display: flex;
        justify-content: center;
        background-color: turquoise;
        width: 100%;
        margin: auto;
    }
    .container-suscribe{
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    #newsletter h1{
        margin: 5px;
        text-align: center;
        width: 50%;
    }
    #newsletter form{
        text-align: right;
        margin: auto;
        width: 50%;
    }
}
@media(min-width: 900px){
    header .highlight{
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        color: greenyellow;
    }
    header li{
        display: inline-block;
        padding: 10px 20px 10px 20px;
    }
    header nav .fas.fa-bars{
        display: none;
    }
    header nav{
        display: flex;
        justify-content: center;
        margin: 0;
    }
}


/*
.container{.
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color: #354248;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70%;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header nav ul{
    overflow:hidden;
    list-style:none;
}

header#branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background:url(../images/showcase.jpg) no-repeat 0 -200px;
    text-align: center;   
}
#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}
#showcase p{
    font-size: 20px;
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background-color: #354248;
}

#newsletter h1{
    font-size: 20px;
    color: pink;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
/*#boxes .box img{
    width: 90px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}
aside.sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
article#main-col{  
    width: 100%;
}

.dark{
    padding: 15px;
    background:#354248;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}
aside.sidebar .quote input, aside.sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
img{
    width: 100%;
}

@media(min-width:480px){
    header nav ul{
        display: none;
        overflow:hidden;
        list-style:none;
    }
    .container-1{
        display: flex;
    }
    .container-2, .container-last-news{
        display:flex;  
        /*
        justify-content:flex-start;
        justify-content:flex-end;
        justify-content:center;
        justify-content:space-around;
        
        justify-content:space-between;
    }
    .swipe{
        display: flex;
        justify-content: space-between;
    }
    
}
.container-2-box{
    flex-basis: 27%;  
    background-color: seagreen;
} 
.container-1 div, .container-2 div{
    border:1px #ccc solid;
    padding:10px;
}
.box-1{
    flex-grow: 1;
    order:1;
}
.box-2{
    flex-grow: 2;
    order:2;
    background-color: palegreen;
}
.box-3{
    background-color: peachpuff;
    justify-content: flex-end;
    flex-basis: 25%;
}



@media(min-width:760px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box, article#main-col, aside.sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header nav ul{
        display: flex;
        overflow:hidden;
        list-style:none;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"], .quote input, .quote text-area{
        width: 100%;
        margin-bottom: 5px;
    }
 }

 .neswletter-box .swipe li {
    margin: 0;
    counter-increment: numbers;
    position: relative;
    text-align: center;
    flex: 1;
    padding: 28px 5px 25px;
}
*/