/*General styles*/
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
	margin:0;
	background-color: #f4f4f4;
}
div{
	display: block;
}
*{
	box-sizing: border-box;
}
ul, ol{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
}
article, section{
	display: block;
}





